Source: theftdeterrentguardian
Section: non-free/utils
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6

Package: theftdeterrentguardian
Pre-depends:python(>=2.6)
Depends:  ${shlibs:Depends}, ${misc:Depends}
Conflicts: huayra-tpm (<= 2.0.0.117), theftdeterrentdaemon (<= 6), theftdeterrent4 (<= 6), theftdeterrenguardian (<= 6)
Replaces: huayra-tpm (<= 2.0.0.117), theftdeterrentdaemon (<= 6), theftdeterrent4 (<= 6), theftdeterrentguardian (<= 6)
Section: non-free/utils
Architecture: amd64
Description: Theft Deterrent Plus guardian Huayra package
 Paquete guardian de theftdeterrent version 6
