Source: theftdeterrentdaemon
Section: non-free/utils
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6

Package: theftdeterrentdaemon
Pre-depends:theftdeterrentclient-lib
Depends:  ${shlibs:Depends}, ${misc:Depends}
Conflicts: huayra-tpm (<= 2.0.0.117), theftdeterrentdaemon (<= 6), theftdeterrent4 (<= 6), theftdeterrentclient (<= 6)
Replaces: huayra-tpm (<= 2.0.0.117), theftdeterrentdaemon (<= 6), theftdeterrent4 (<= 6), theftdeterrentclient (<= 6)
Section: non-free/utils
Architecture: amd64
Description: Intel Education Theft Deterrent client Huayra package
 Paquete daemon de theftdeterrent version 6
